<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoyetech.air.dal.dao.baseinfo.AirBaseInfoDAO">


	<!-- select 基本语句 -->
	<select id="airBaseInfo_select" parameterType="airBaseInfoDO"
		resultType="airBaseInfoDO">
		select id as id,
		creaft_name as creaftName,
		driver_name as
		driverName,
		person_name as personName,
		create_time as createTime,
		update_time as
		updateTime,
		extendsation as extendsation
		from
		air_base_info WHERE 1 = 1
	</select>

	<!-- select 基本语句 -->
	<select id="airBaseInfo_select_entity" parameterType="airBaseInfoDO"
		resultType="airBaseInfoDO">
		select id as id,
		creaft_name as creaftName,
		driver_name as
		driverName,
		person_name as personName,
		create_time as createTime,
		update_time as
		updateTime,
		extendsation as extendsation
		from
		air_base_info WHERE id = #{id}
	</select>
	
	<!-- select count() 基本语句 -->
	<select id="airBaseInfo_count" parameterType="airBaseInfoDO"
		resultType="java.lang.Integer">
		select count(1) from air_base_info
		where 1 = 1
	</select>


	<!-- insert into 基本语句 -->
	<insert id="airBaseInfo_insert" parameterType="airBaseInfoDO">
		insert into
		air_base_info(id,creaft_name,driver_name,person_name,create_time,update_time,extendsation)
		values(#id#,#creaftName#,#driverName#,#personName#,#createTime#,#updateTime#,#extendsation#)
	</insert>


	<!-- update 基本语句 -->
	<update id="airBaseInfo_update" parameterType="airBaseInfoDO">
		update
		air_base_info
		set
		id=#id#,creaft_name=#creaftName#,driver_name=#driverName#,person_name=#personName#,create_time=#createTime#,update_time=#updateTime#,extendsation=#extendsation#
		where id = #id#
	</update>


	<!-- delete 基本语句 -->
	<delete id="airBaseInfo_delete" parameterType="airBaseInfoDO">
		delete from
		air_base_info
		where id = #id#
	</delete>
</mapper>