<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoyetech.fee.dal.dao.user.UserDAO">
	<!-- 返回User 或者List<User> -->
	<resultMap id="UserInfoDO" type="UserInfoDO">
		<id column="id" property="id" />
		<result column="app_id" property="appId" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="integral" property="integral" />
		<result column="grade" property="grade" />
		<result column="masonry" property="masonry" />
		<result column="historyNum" property="historynum" />
		<result column="currentBlackStage" property="currentblackstage" />
		<result column="isBlackStateUnlock" property="isblackstateunlock" />
		<result column="isNewPlayer" property="isnewplayer" />
	</resultMap>

	<select id="getUserInfoDO" parameterType="UserInfoDO" resultMap="UserInfoDO">
		select * from user where name=#{name}
	</select>


	<!-- select 基本语句 -->
	<select id="User_select" parameterType="UserInfoDO" resultType="UserInfoDO">
		select id as id,
		app_id as appId,
		name as name,
		password as password,
		integral
		as
		integral,
		grade as grade,
		masonry as masonry,
		historynum as
		historynum,
		currentblackstage as currentblackstage,
		isblackstateunlock
		as
		isblackstateunlock,
		isnewplayer as isnewplayer
		from user
	</select>


	<!-- select count() 基本语句 -->
	<select id="User_count" parameterType="UserInfoDO" resultType="java.lang.Integer">
		select count(1) from user
	</select>

	<!-- insert into 基本语句 -->
	<insert id="User_insert" parameterType="UserInfoDO">
		insert into
		user(name,app_id,password,integral,grade,masonry,historynum,currentblackstage,isblackstateunlock,isnewplayer)
		values(#{name},#{appId},#{password},#{integral},#{grade},#{masonry},#{historynum},#{currentblackstage},#{isblackstateunlock},#{isnewplayer})
		<selectKey resultType="int" keyProperty="id">   
			<![CDATA[SELECT LAST_INSERT_ID() AS ID ]]>
		</selectKey>
	</insert>

	<!-- update 基本语句 -->
	<update id="User_update" parameterType="UserInfoDO">
		update user
		<trim prefix="SET" suffixOverrides=",">
			<if test="password != null">password=#{password},</if>
			<if test="integral != null">integral=#{integral},</if>
			<if test="grade != null">grade=#{grade},</if>
			<if test="masonry != null">masonry=#{masonry},</if>
			<if test="historynum != null">historynum=#{historynum},</if>
			<if test="currentblackstage != null">currentblackstage=#{currentblackstage},</if>
			<if test="isblackstateunlock != null">isblackstateunlock=#{isblackstateunlock},</if>
			<if test="isnewplayer != null">isnewplayer=#{isnewplayer},</if>
			<if test="isblackstateunlock != null">isblackstateunlock=#{isblackstateunlock}</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="name != null">
				name=#{name}
			</if>
		</trim>
	</update>

	<!-- delete 基本语句 -->
	<delete id="User_delete" parameterType="UserInfoDO">
		delete from user
		where id
		= #id#
	</delete>
</mapper>