<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoyetech.air.dal.dao.fighttool.FightToolDAO">
	<!-- select 基本语句 -->
	<select id="airFighttool_select" parameterType="airFighttoolDO"
		resultType="airFighttoolDO">
		select id as id,
		`name` as name,
		`double` as doubles,
		`trudge` as
		trudge,
		`shoot` as
		shoot,
		`explode` as explode
		from air_fighttool
	</select>

	<!-- select 基本语句 -->
	<select id="airFighttool_select_entity" parameterType="airFighttoolDO"
		resultType="airFighttoolDO">
		select id as id,
		`name` as name,
		`double` as doubles,
		`trudge` as
		trudge,
		`shoot` as
		shoot,
		`explode` as explode
		from air_fighttool WHERE `name` =
		#{name}
	</select>

	<!-- select count() 基本语句 -->
	<select id="airFighttool_count" parameterType="airFighttoolDO"
		resultType="java.lang.Integer">
		select count(1) from air_fighttool
	</select>

	<!-- insert into 基本语句 -->
	<insert id="airFighttool_insert" parameterType="airFighttoolDO">
		insert into
		air_fighttool(`name`,`double`,`trudge`,`shoot`,`explode`)
		values(#{name},#{doubles},#{trudge},#{shoot},#{explode})
	</insert>

	<!-- update 基本语句 -->
	<update id="airFighttool_update" parameterType="airFighttoolDO">
		update air_fighttool
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">`name`=#{name},</if>
			<if test="doubles != null">`double`=#{doubles},</if>
			<if test="trudge != null">`trudge`=#{trudge},</if>
			<if test="shoot != null">`shoot`=#{shoot},</if>
			<if test="explode != null">`explode`=#{explode}</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="name != null">
				`name`=#{name}
			</if>
		</trim>
	</update>

	<!-- delete 基本语句 -->
	<delete id="airFighttool_delete" parameterType="airFighttoolDO">
		delete from
		air_fighttool
		where id = #id#
	</delete>
</mapper>